 <div class="jumbotron">
 	<div class="left">
 	<h2>New Residential Property Listing</h2>
 </div>
 </div>
<br>
<%= render 'form' %>
<div class="left">
<%= link_to 'Back', residentials_path, class: "btn btn-link"  %>
</div>